<template>
    <div class="row">
        <div class="col-sm-6">
            <textarea class="form-control noresize" :value="input" @input="update"></textarea>
        </div>
        <div class="col-sm-6">
            <div id="end" v-html="compiledMarkdown"></div>
        </div>
    </div>
</template>

<script>
    import Cookies from 'js-cookie';
    import marked from 'marked';
    export default {
        name: 'markdown-editor',
        data: function()
        {
            return{
                input: Cookies.get('data') ? Cookies.get('data') : '# Title',
            }
        },
        computed: {
            compiledMarkdown: function () {
                return marked(this.input, { sanitize: true })
            }
        },
        methods: {
            update: _.debounce(function (e) {
                this.input = e.target.value
                Cookies.set('data', e.target.value)
            }, 300),
        }
    }
</script>
